---
import shortlinks from '../../data/shortlinks.json';

export function getStaticPaths() {
  return shortlinks.map((link: { id: string; url: string }) => ({
    params: { id: link.id },
    props: { url: link.url },
  }));
}

const { url } = Astro.props;
---
<html>
  <head>
    <meta http-equiv="refresh" content={`0; url=${url}`} />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href={url}>{url}</a>...</p>
  </body>
</html>
